{{ 'header-navbar.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign localization_forms = false

  if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
    assign localization_forms = true
  endif
-%}

<div class="header-wrapper">
  <div class="container">
    <nav class="header-navbar navbar navbar-expand-lg w-100 {% if localization_forms %} header--has-localizations{% endif %}">
      <div class="container-fluid p-0">
        <!-- Logo -->
        {% if section.settings.header_navbar_logo %}
          {% assign logo = section.settings.header_navbar_logo | img_url: '198x' %}
        {% else %}
          {% assign logo = 'logo.jpg' | asset_img_url: '198x' %}
        {% endif %}
        <a class="navbar-brand" href="{{ shop.url }}"><img src="{{ logo }}"></a>

        <!-- Toggle navbar -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-menu"
          aria-controls="main-menu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Main menu -->
        <div class="collapse navbar-collapse main-menu" id="main-menu">
          <div class="d-lg-flex justify-content-between align-items-center w-100">
            <!-- Empty space on the left side to push menu to center -->
            <div class="d-none d-lg-block"></div>

            <ul class="navbar-nav mx-auto">
              {% for link in linklists[section.settings.nav_menu].links %}
                <li class="nav-item {% if link.links != blank %}dropdown {% endif %}">
                  <a
                    href="{% if link.links != blank %} # {% else %} {{ link.url }} {% endif %}"
                    class="nav-link {% if link.active %}active {% if link.child_active %}active {% endif %} {% endif %} {% if link.links != blank %}dropdown-toggle {% endif %}"
                    {% if link.links != blank %}
                      data-bs-toggle="dropdown"
                    {% endif %}
                  >
                    {{ link.title }}
                  </a>
                  {% if link.links != blank %}
                    <ul class="dropdown-menu">
                      {% for child_link in link.links %}
                        <li class="dropdown-item">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                          {% comment %}
                            {% if child_link.links != blank %}
                                <ul class="grandchild">
                                    {% for grandchild_link in child_link.links %}
                                        <li {% if grandchild_link.active %}class="active {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                          {% endcomment %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>

            <!-- Menu icon -->
            <div class="menu-icon header__icons d-flex align-items-center">
              <div class="d-inline top-search-menu">
                {% render 'header-search', input_id: 'Search-In-Modal' %}
                <div class="desktop-localization-wrapper">
                  {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                    <localization-form class="small-hide medium-hide" data-prevent-hide>
                      {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderCountryLabel">
                            {{ 'localization.country_label' | t }}
                          </h2>
                          {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {% endif %}
                </div>
              </div>
              {% if section.settings.enable_country_selector or section.settings.enable_language_selector %}
                <div class="d-inline {% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
                  {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                    <localization-form class="small-hide medium-hide" data-prevent-hide>
                      {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderCountryLabel">
                            {{ 'localization.country_label' | t }}
                          </h2>
                          {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {% endif %}

                  {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                    <localization-form class="small-hide medium-hide" data-prevent-hide>
                      {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderLanguageLabel">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {%- endif -%}
                </div>
              {%- endif -%}
              <div class="d-inline customer-account-menu">
                {%- if shop.customer_accounts_enabled -%}
                  <a
                    href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                    class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
                  >
                    {%- if section.settings.enable_customer_avatar -%}
                      <account-icon>
                        {%- if customer and customer.has_avatar? -%}
                          {{ customer | avatar }}
                        {%- else -%}
                          <i class="fa-regular fa-user"></i>
                        {%- endif -%}
                      </account-icon>
                    {%- else -%}
                      <i class="fa-regular fa-user"></i>
                    {%- endif -%}
                    <span class="visually-hidden">
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </span>
                  </a>
                {%- endif -%}
              </div>
              <div class="d-inline mini-cart-menu">
                <!--
                  <a href="{% if cart %}{{ routes.cart_url }}{% else %}#{% endif %}" class="header__icon header__icon--cart link focus-inset"></a>
                  {% if cart.item_count > 0 %}
                    <span class="cart-count">{{ cart.item_count }}</span>
                  {% else  %}
                    <span class="cart-count">0</span>
                  {% endif %}
                -->

                <div class="button-container">
                  <button id="openMinicartModalButton" class="header__icon header__icon--cart link focus-inset">
                    <i class="fa-solid fa-cart-shopping"></i>
                    {% if cart.item_count > 0 %}
                      <span class="cart-count">{{ cart.item_count }}</span>
                    {% else %}
                      <span class="cart-count">0</span>
                    {% endif %}
                  </button>
                </div>

                <div id="myModal" class="minicart-modal slide-minicart-modal">
                  <div class="minicart-modal-content">
                    <span class="close">&times;</span>
                    <h2>Cart</h2>
                    {% if cart.item_count > 0 %}
                      <div class="minicart-item-list">
                        {% for cart_item in cart.items %}
                          <div class="minicart-item">
                            <div class="item-image">
                              {{ cart_item.image.src | image_url: width: 150, height: 150 | image_tag }}
                            </div>
                            <div class="item-info">
                              <div class="price">{{ cart_item.price | money_with_currency }}</div>
                              <div class="qty">x {{ cart_item.quantity | handle }}</div>
                              <div class="variant">
                                <div class="variant-item">Size : {{ cart_item.variant.option1 }}</div>
                                <div class="variant-item">Color : {{ cart_item.variant.option2 }}</div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    {% else %}
                      <div class="minicart-item-list">
                        <div class="minicart-empty">Cart is empty.</div>
                      </div>
                    {% endif %}
                    <a href="{% if cart %}{{ routes.cart_url }}{% else %}#{% endif %}" class="go-to-cart">Go to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get the modal and button elements
    const modal = document.getElementById('myModal');
    const openModalButton = document.getElementById('openMinicartModalButton');
    const closeButton = document.querySelector('.minicart-modal .close');

    // Function to open the modal with slide-in animation
    openModalButton.addEventListener('click', function () {
      modal.style.display = 'block';
      setTimeout(() => {
        modal.classList.add('show');
      }, 10); // Small delay to trigger the transition
    });

    // Function to close the modal
    closeButton.addEventListener('click', function () {
      modal.classList.remove('show');
      setTimeout(() => {
        modal.style.display = 'none';
      }, 300); // Match this with CSS transition duration
    });

    // Close the modal when clicking outside the content area
    window.addEventListener('click', function (event) {
      if (event.target === modal) {
        modal.classList.remove('show');
        setTimeout(() => {
          modal.style.display = 'none';
        }, 300);
      }
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.header-navbar.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_navbar_logo",
      "label": "t:sections.header-navbar.logo"
    },
    {
      "type": "link_list",
      "id": "nav_menu",
      "label": "t:sections.header-navbar.mainmenu"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    }
  ]
}
{% endschema %}
